<div class="search-div">
    <button mat-raised-button  (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
 <div class="mat-elevation-z8">
    <table mat-table [dataSource]="goalList"  class="mat-elevation-z8" style="width: 100%" matSort>
      <ng-container matColumnDef="position" class="make-gold">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
        <ng-container matColumnDef="goalName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Goal Name</th>
          <td mat-cell *matCellDef="let element"> {{element.goalName}} </td>
        </ng-container>
       <ng-container matColumnDef="goalDecs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let element"> {{element.goalDecs}} </td>
        </ng-container>
        <ng-container matColumnDef="goalTargetPrice" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Target Price</th>
            <td mat-cell *matCellDef="let element"> {{element.goalTargetPrice}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-icon-button (click)="openSaving(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="removeGoal(row)"><mat-icon>delete_outline</mat-icon></button>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [ngClass]="{'make-gold': row.goalCompleted == 'Y'}" *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 </div>


  
  
